{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [2, { skipUndeclared: true }],
    "camelcase": [0, {properties: "never"}],
    "jsx-a11y/no-static-element-interactions": [0, {"handlers": ["onClick"]}],
    "dot-notation": ["error", { "allowPattern": "^__*" }],
    "jsx-a11y/media-has-caption": [0, {"video": ["Video"]}],
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to", "hrefLeft", "hrefRight" ],
            "aspects": [ "noHref", "invalidHref", "preferButton" ]
          }]
  },
  "env": {
    "browser": true
  }
}
